body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box
}

.DateRangePicker *, .SingleDatePicker *, .DayPickerRangeController * {
  box-sizing: border-box;
}
